body{
    width: 100vw;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
}

nav li{
    display: inline;
    margin-right: 2vw;
}

nav ul{
    display: inline;
}

nav p{
    display: inline;
    margin-left: 10vw;
    margin-right: 20vw;
}

nav{
    background: black;
    color: white;
    height: 50px;
}

#heroimage{
    width: 100vw;
    height: 100vh;
    background-image: url(./hero_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#herotext{
    margin: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". . showinfo . ."

}

#container2{

}

#container1 h2{
    grid-area: showinfo;
}

