body, html{
    height: 100vh;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

/* ---Navbar--- */

nav{
    background: black;
    color: white;
    height: 50px;
    padding-top: 2vh;
}

nav ul{
    display: inline;
}

nav li{
    display: inline;
    margin-right: 2vw;
}

nav p{
    display: inline;
    margin-left: 10vw;
    margin-right: 20vw;
    font-weight: bold;
    font-size: 1.5em;
    ;
}

nav a{
    text-decoration: none;
    color: white;
}

/* ---Hero image & text--- */

#heroimage{
    height: 50vh;
    background-image: url(./hero_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#herotext{
    margin: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    width: 100vw;
    text-align: center;
}

/* ---Main--- */

main{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". date date date ."
    ". actors showinfo readmore ."
    ". line1 line1 line1 ."
    ". actors2 showinfo2 readmore2 ."
    ". line2 line2 line2 ."
    ". actors3 showinfo3 readmore3 ."
    ". line3 line3 line3 ."
    ". actors4 showinfo4 readmore4 .";
    margin-top: 5vh;
    margin-bottom: 5vh;
    row-gap: 5vh;
}

main img{
    height: 25vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
}

main ul li:first-child{
    font-size: 1.5em;
}

main li{
    margin-bottom: 2vh;
}

main a{
    text-decoration: none;
    background-color: goldenrod;
    color: white;
    height: 7vh;
    width: 10vw;
    text-align: center;
    line-height: 7vh;
    margin: auto;
    font-size: 1.2em;
    border: 1px solid black;
}

#date{
    grid-area: date;
    padding-left: 3vw;
    background-color: lightgray;
    border: 1px solid black;
}

#actors{
    grid-area: actors;
}

#showinfo{
    list-style-type: none;
    grid-area: showinfo;
}

#readmore{
    grid-area: readmore;
}

#line1{
    grid-area: line1;
    background-color: black;
    height: 1px;
    border: none;
}

#actors2{
    grid-area: actors2;
}

#showinfo2{
    list-style-type: none;
    grid-area: showinfo2;
}

#readmore2{
    grid-area: readmore2;
}

#line2{
    grid-area: line2;
    background-color: black;
    height: 1px;
    border: none;
}

#actors3{
    grid-area: actors3;
}

#showinfo3{
    list-style-type: none;
    grid-area: showinfo3;
}

#readmore3{
    grid-area: readmore3;
}

#line3{
    grid-area: line3;
    background-color: black;
    height: 1px;
    border: none;
}

#actors4{
    grid-area: actors4;
}

#showinfo4{
    list-style-type: none;
    grid-area: showinfo4;
}

#readmore4{
    grid-area: readmore4;
}

/* ---Footer--- */

footer{
    display: grid;
    background-color: black;
    color: white;
    grid-template-columns: 1.2fr 1fr .8fr .8fr;
    grid-template-rows: auto;
    grid-template-areas:
    "map info shows social"
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:visited{
    color: white;
}

footer img{
    grid-area: map;
    width: 25vw;
    margin: auto;
}

footer li{
    list-style-type: none;
    margin-bottom: 3vh;
}

footer h3{
    font-size: 2em;
}

#info{
    grid-area: info;
}
#shows{
    grid-area: shows;
}

#social{
    grid-area: social;
}

.material-icons-outlined{
    color: goldenrod;
    position: relative;
    top: 1vh;
}